# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Secrets
.env

# SQLite Databases & Local Data
instance/
*.db
*.sqlite
projects_data.json
submissoes.json
users.json

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
